@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap");
html {
  --home-nocreds-authbuttons-padding: 22px;
  --home-nocreds-authbuttons-width: 100%;
  --website-theme: #82ffa8; 
  --postrenderer-confirm-modal-buttons-gap: 1rem;
  --postrender-confirm-modal-buttons-size: 3rem;
  --postrenderer-confirm-modal-bordersize: 0.25rem;
  overflow-x: hidden;
}
.heading-nav {
  background-color: var(--website-theme);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 8px;
  display: flex;
  vertical-align: middle; }

.heading-nav > img {
  position: absolute;
  top: 20px;
  bottom: 0; }

.heading-nav > .username {
  position: absolute;
  top: 0px;
  line-height: 16px;
  right: 5.5rem;
  font-size: 1.1rem; }

.heading-nav > a {
  color: black;
  text-decoration: none; }

.heading-nav > .login-logout {
  position: absolute;
  right: 12px;
  top: 0px;
  padding-right: 5px; }

.heading-nav > .register {
  position: absolute;
  top: 0;
  right: 5.2rem; }

.divider {
  padding-top: 32px; }

.register-errorDisplay {
  display: none; }

html {
  padding-left: 3px; }

.auth-form {
  padding-top: 8px;
  padding-left: 5px; }

.confirm-text {
  padding-top: 15px; }

.home-nocreds {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center; }

.home-nocreds-title {
  text-align: center;
  font-size: 4.5rem;
  font-family: 'MuseoModerno', sans-serif; }

.home-nocreds-begforcreds {
  font-size: 0.9rem;
  text-align: center; }

.home-nocreds-authbuttons {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 60vw));
  grid-gap: 3rem;
  padding-top: 3rem;
  vertical-align: middle; }

.home-nocreds-authbuttons > a > button {
  width: var(--home-nocreds-authbuttons-width);
  padding-top: var(--home-nocreds-authbuttons-padding);
  padding-bottom: var(--home-nocreds-authbuttons-padding);
  border: none;
  cursor: pointer;
  font-size: calc(var(--home-nocreds-authbuttons-width) * 2);
  font-family: 'MuseoModerno';
  background-color: var(--website-theme); }

.home-nocreds-authbutton > a {
  text-decoration: none;
  color: black; }

.home-nocreds-login {
  float: block-start; }

.home-nocreds-signup {
  float: block-end; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(365deg);
    color: #1e1e1e; 
  } 
}
.uncompleted-loading {
  width: 4rem;
  height: 4rem;
  border: 5px solid #000;
  position: absolute;
  left: 48%;
  top: 48%;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite; }


.uncompleted-loading-checkinternet {
  /* position: absolute; */
  text-align: center;
  padding-top: calc(48vh + 5rem); 
}
.posts{
  display: grid;
}
.post-parent, .post, .post-body, .post-link{
  text-decoration: dotted;
}
.post{
  display: block;
  border: 1px solid black;
  width: 50vw;
  height: 80vh;
  overflow-y: auto;
  margin: auto;
  text-align: center;
  color: black;
  z-index: 1;
  overflow-x: hidden;
}
.post>a{
  text-decoration: none;
  color: black;
}
.post>a>img{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.postrenderer-management-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.postrenderer-confirm-modal-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.postrenderer-confirm-modal{
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: var(--postrenderer-confirm-modal-bordersize) solid red;
  background-color: white;
  z-index: 2;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  vertical-align: middle;
  top: calc(40% - 0.5rem);
  /* transform: translate(0%, 40%); */
  text-align: center;
}
.postrenderer-confirm-modal-button-yes{
  margin-right: var(--postrenderer-confirm-modal-buttons-gap);
  width: var(--postrenderer-confirm-modal-button-size);
  height: var(--postrenderer-confirm-modal-button-size);
}
.postrenderer-confirm-modal-button-no{
  margin-left: var(--postrenderer-confirm-modal-buttons-gap);
  width: var(--postrenderer-confirm-modal-buttons-size);
  height: var(--postrenderer-confirm-modal-buttons-size);
}
.authenticated-home{
  text-align: center;
}
.newpost-markdown-textarea{
  width: 48%;
  height: calc(100vh - 50px - 2rem - 2rem);
  resize: none;
  outline: none;
  margin-top: 1rem;
}
.newPost-window{
  display: flex;
  gap: 0.67rem;
}
.newPost-window>p{
  width: calc(100vw - 1rem - 0.67rem - 48%);
  word-break: break-all;
  /* text-align: left; */
}
.newPost-window-parent{
  margin-top: 1.2rem;
  text-align: center;
}
.newPost-error{
  display: none;
}
.confirmEmail-prompt-parent{
  display: flex;
  justify-content: center;
}
.confirmEmail-prompt{
  vertical-align: middle;
  text-align: center;
  margin-top: calc(49vh - 5rem - 3rem - 5rem);
}
.confirmEmail-prompt>h1{
  font-size: 5rem;
}
.confirmEmail-prompt>p{
  font-size: 0.8rem;
}
.navbar-username{
  color: black;
}
.profile-parent{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(99vh);
  width: 100%;
}
.profile{
  background-color: red;
  padding: 2.5rem 2rem 2.5rem 2rem;
  text-align: center;
}
.email-url, .post-url{
  color: black;
}